NAME,INSTALLED,FIXED_IN,TYPE,VULNERABILITY,SEVERITY,EPSS,RISK,PUBLISHED_DATE
{{- range .Matches }}
"{{.Artifact.Name}}","{{.Artifact.Version}}","{{- if .Vulnerability.Fix.Versions }}{{index .Vulnerability.Fix.Versions 0}}{{- end }}","{{.Artifact.Type}}","{{.Vulnerability.ID}}","{{.Vulnerability.Severity}}","{{- if .Vulnerability.EPSS }}{{- if gt (len .Vulnerability.EPSS) 0 }}{{printf "%.1f" (mul (index .Vulnerability.EPSS 0).Percentile 100)}}%{{- else }}N/A{{- end }}{{- else }}N/A{{- end }}","{{- if .Vulnerability.Risk }}{{printf "%.6f" .Vulnerability.Risk}}{{- else }}N/A{{- end }}","{{- if hasPrefix .Vulnerability.ID "CVE-" }}CVE-{{substr .Vulnerability.ID 4 4}}{{- else if hasPrefix .Vulnerability.ID "GHSA-" }}GHSA{{- else }}N/A{{- end }}"
{{- end -}}
